<div id="view-profile" class="hidden fade-in">
    <h2 style="margin-bottom: 20px;">Dossier</h2>
    <div class="glass profile-card-large">
        <div class="big-avatar" id="big-profile-pic" onclick="document.getElementById('avatar-input').click()"><i class="fas fa-user"></i></div>
        <div><h1 id="p-name-display" class="gradient-title" style="margin:0;">User</h1><p style="color: var(--primary);">ID: #BX-8821</p></div>
    </div>
    <div class="info-grid">
        <div class="info-box"><small>AGE</small><div id="disp-age" style="font-size:1.5rem; font-weight:bold;">--</div></div>
        <div class="info-box"><small>WEIGHT</small><div id="disp-weight" style="font-size:1.5rem; font-weight:bold;">--</div></div>
        <div class="info-box"><small>HEIGHT</small><div id="disp-height" style="font-size:1.5rem; font-weight:bold;">--</div></div>
        <div class="info-box"><small>GOAL</small><div id="disp-goal" style="font-size:1.5rem; font-weight:bold; color:var(--secondary);">--</div></div>
    </div>
</div>